<h1>Добро пожаловать, #{ @username }!</h1>
<ul>
  <li><a href="#">Login</a></li>
  <li><a href="#">Register</a></li>
</ul>

<p>
  Habrafavs – это способ сохранить ваши избранные посты и комментарии
  с хабрахабра. Как часто бывало так, что вы что-нибудь добавляли в избранное,
  а автор потом помещал топик в черновики? Чтобы всегда иметь доступ к своему избранному
  и быть уверенным в созранности его содержания воспользуйтесь habrafavs!
</p>

<h3>Возможности:</h3>
<ul>
  <li>Сохранение вашего избранного в облаке</li>
  <li>Автоматическая синхронизация с вашим избранным</li>
  <li>Сохраниние поста и избранных комментариев к нему</li>
  <li>Расширение для Chrome</li>
  <li>Интеграция с Evernote</li>
</ul>

<h3>Ценовая политика:</h3>
<ul>
  <li>Free</li>
  <li>Free with Evernote</li>
  <li>Pro</li>
  <li>Evernote user</li>
  <li>Unlimited</li>
</ul>
